.headerBody_product{background-image:url(img/productHeader-bg.png);}
.ctaBlock{background-image:url(img/bg-Cta.png);}
.icon--panel.ip--horizon.main-control-panel{top:90%!important;}
#wrap-navigationConsole_img .icon--panel{}